:root {
  --color-white: #FFFFFF;
  --color-Black: #222;
  --color-green_turquoise: #005C53;
  --color-orange_pumpkin: #FC8C62;
  --color-dwttxt: #FFFFFF;
  --color-dwtund: #FC8C62;
  --font-big: 26px;
  --font-intermediate: 22px;
  --font-medium: 18px;
  --font-small: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-medium);
  line-height: 1.5;
  color: #444;
}

header {
  background-color: var(--color-green_turquoise);
}

.section {
  padding: 100px 20px;
}

.title-container {
  display: flex;
  justify-content: center;
}

.bar {
  flex-grow: 1;
  height: 3px;
  background-color: var(--color-green_turquoise);
  margin-top: 17px;
  border-radius: 2px;
}

.test-bar {
  color: var(--color-white);
}

.title {
  font-family: "june-expt-variable", sans-serif;
  font-variation-settings: "STYL" 0;
  margin: 0 10px;
}

.title--med {
  font-size: var(--font-big);
  color: var(--color-Black);
  padding-bottom: 64px;
  text-align: center;
}

.title--light {
  text-align: center;
  color: var(--color-Black);
}

.title--ccl {
  font-size: 20px;
  color: #222;
  font-weight: bolder;
  padding: 10px 0 20px 0;
}

.title--ccl2 {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bolder;
  padding: 10px 0 20px 0;
}

.title__span {
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-intermediate);
  color: var(--color-white);
  display: block;
  padding-top: 20px;
}

.title-fonc {
  text-align: center;
  border: 3px solid var(--color-green_turquoise);
  border-radius: 3px;
  padding: 5px 8px;
  margin: 40px 400px 40px 400px;
}

p {
  color: var(--color-Black);
  max-width: 800px;
  padding-bottom: 16px;
}

.container-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.menu__liste {
  list-style: none;
}
.menu__el a {
  text-decoration: none;
  font-weight: bold;
}

.img-soutien {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 10%;
}

.img__intro {
  width: 80%;
  margin-top: 20px;
}

.title-img {
  font-size: 64px;
  color: var(--color-orange_pumpkin);
  padding-top: 40px;
}

.section--top {
  position: relative;
  background-image: url(../assets/images/test-wave-orange.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 0;
}
.section--top__pad {
  padding: 80px 20px 120px 20px;
}

.wave-section {
  min-height: 80vh;
  width: 100%;
  color: var(--color-Black);
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.img--text {
  display: flex;
  justify-content: center;
}
.img--text__flex {
  padding-left: 50px;
}

.image-container {
  overflow: hidden;
}

.img-search {
  width: 400px;
  height: 500px;
  border-radius: 15% 0 0 15%;
}

.title--rec {
  position: relative;
  color: var(--color-Black);
}

.parag {
  padding-top: 40px;
}

.svg-fruits {
  position: absolute;
  right: -19px;
  bottom: -80px;
  width: 100px;
  margin-left: 0;
  transform: rotate(20deg);
}

.container-flex {
  display: flex;
  gap: 20px;
}

.container-search {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-height: 450px;
  max-width: 400px;
  display: flex;
  border-radius: 15px;
  gap: 40px;
  padding: 20px;
  background-color: var(--color-green_turquoise);
}

.svg-age {
  width: 150px;
}

.svg-inter {
  width: 150px;
}

.svg-ok {
  width: 80px;
}

.container-hyp {
  display: flex;
  gap: 100px;
  margin: 0 5% 100px;
}

.img__grid {
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.slider {
  background-color: var(--color-green_turquoise);
  height: 250px;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid var(--color-white);
  outline-offset: -6px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  backface-visibility: hidden;
}

.slider__nav:checked {
  animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}

.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.slider__txt {
  color: var(--color-white);
  font-size: 27px;
  font-weight: 800;
  max-width: 300px;
  display: flex;
  align-items: center;
}
@keyframes check {
  50% {
    outline-color: var(--color-Black);
  }
  100% {
    outline-color: var(--color-Black);
  }
}
.btn {
  cursor: pointer;
  padding: 8px 32px;
  border: 3px solid;
  border-radius: 56px;
  transition: background-color 0.5s cubic-bezier(0.16, 1, 0.3, 1), border-color 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.btn-stat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--font-medium);
  color: var(--color-Black);
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 64px;
  margin-bottom: 32px;
  background: none;
  border: 3px solid var(--color-green_turquoise);
  border-radius: 2px;
  padding: 5px;
}

.legende {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 40px;
  margin: 16px 16px;
}

.border-legend {
  display: flex;
  padding: 10px;
  border: 3px solid var(--color-green_turquoise);
  border-radius: 3px;
}

.svg-notif {
  width: 30px;
}

.svg-fonct {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0 20px 0;
}

.hidden {
  display: none;
}

.pad-no {
  padding: 0;
}

.flex-tfa {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.border-tfa {
  max-width: 800px;
  padding: 20px;
}

.border-ccl {
  background-color: var(--color-green_turquoise);
  border-radius: 15px;
  max-width: 800px;
  padding: 20px;
}

.color-txt {
  color: var(--color-white);
}

.vid-ccl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.credits__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credits__el {
  list-style: none;
}

.credits__el a {
  text-decoration: none;
}

.svg-cred {
  width: 30px;
}

.credit {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.cred-border {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 3px;
  background-color: var(--color-orange_pumpkin);
}

.link--credits {
  color: var(--color-Black);
}

.link--credits:hover {
  text-decoration: underline;
}

.svg-arrow {
  width: 80px;
}

.square {
  height: 100px;
  width: 100px;
  margin-right: 40px;
}

.square--1 {
  background-color: var(--color-orange_pumpkin);
}

.square--2 {
  background-color: var(--color-green_turquoise);
}

.square--3 {
  background-color: var(--color-white);
  border: 1px solid var(--color-Black);
}

.square--4 {
  background-color: var(--color-Black);
}

.square-flex {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title--ui {
  padding: 40px 0 40px 0;
  margin: 0;
}

.title--ui__1 {
  font-size: var(--font-big);
}

.title--ui__2 {
  font-size: var(--font-intermediate);
}

.title--ui__3 {
  font-size: var(--font-medium);
}

.section--uicred {
  padding: 100px 20px;
}

.pad-ui {
  padding-bottom: 40px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-green_turquoise);
}

.subNav {
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  align-items: center;
  padding: 30px 0 20px 0;
  margin: 0;
}

.subNav__el a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 500;
}

.subNav__el a:hover {
  color: #E65E56;
  text-decoration: underline;
}

.credits {
  color: var(--color-white);
  padding: 10px 0 0 0;
}

.credits a {
  text-decoration: none;
}

.display-cred {
  color: var(--color-white);
}

.display-cred:hover {
  color: var(--color-orange_pumpkin);
  text-decoration: underline;
}

.dwt {
  width: 40px;
  transform: translateY(3px);
}

.dwt__txt {
  fill: var(--color-dwttxt);
  transition: fill 1s;
}

.dwt__und {
  fill: var(--color-dwtund);
}

@media (max-width: 700px) {
  .img-tab {
    display: none;
  }
  .menu__liste {
    position: fixed;
    background-color: var(--color-green_turquoise);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 50;
    padding: 0;
  }
  .menu__el {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.3s 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    border-bottom: var(--color-Black);
  }
  .menu__el a {
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
  }
  .menu__el--active a {
    color: var(--color-orange_pumpkin);
  }
  .menu__el a:hover, .menu__el a:focus {
    color: var(--color-orange_pumpkin);
  }
  .menu--open .menu__liste {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
  .menu--open .menu__el {
    transform: translateY(0);
    opacity: 1;
  }
  .menu--open .menu__el:nth-child(2) {
    transition-delay: 0.7s;
  }
  .menu--open .menu__el:nth-child(3) {
    transition-delay: 0.9s;
  }
  .menu--open .menu__el:nth-child(4) {
    transition-delay: 1.1s;
  }
  .menu--open .menu__el:nth-child(5) {
    transition-delay: 1.3s;
  }
  .menu--open .menu__el:nth-child(6) {
    transition-delay: 1.5s;
  }
  .menu__burger {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 100;
    width: 42px;
    height: 24px;
    cursor: pointer;
    background: none;
    border: none;
  }
  .menu__burger span {
    width: 100%;
    height: 4px;
    background-color: var(--color-orange_pumpkin);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu__burger span::before, .menu__burger span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--color-orange_pumpkin);
  }
  .menu__burger span::before {
    transform: translateY(-10px);
  }
  .menu__burger span::after {
    transform: translateY(10px);
  }
  .img--text {
    flex-direction: column;
  }
  .img--text__flex {
    padding-top: 80px;
    padding-left: 0;
  }
  .img-search {
    width: 300px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container-flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .container-search {
    min-height: 350px;
    max-width: 350px;
  }
  .container-hyp {
    flex-direction: column;
  }
  .border-legend {
    flex-direction: column;
    align-items: center;
  }
  .pad-no {
    margin-top: 20px;
  }
  .vid-ccl {
    width: 100%;
  }
  .square {
    height: 60px;
    width: 60px;
  }
}
@media (min-width: 701px) {
  :root {
    --font-big: 47px;
    --font-intermediate: 29px;
    --font-medium: 18px;
    --font-small: 11px;
  }
  .bar {
    margin-top: 27px;
  }
  body {
    font-size: 16px;
  }
  p {
    font-size: var(--font-medium);
  }
  .title {
    font-size: var(--font-big);
  }
  .title--ccl {
    font-size: var(--font-intermediate);
  }
  .title--ccl2 {
    font-size: var(--font-intermediate);
  }
  .titre-image {
    top: 30%;
  }
  .section {
    padding: 100px 20px;
  }
  .section--top__pad {
    padding: 80px 5% 120px 5%;
  }
  .img-soutien {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
  }
  .img__intro {
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    margin-top: 20px;
    justify-self: center;
  }
  .title-img {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }
  .img-phone {
    display: none;
  }
  .menu__burger {
    display: none;
  }
  .menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: var(--color-white);
  }
  .menu__liste {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
  .menu__el:hover {
    background-color: var(--color-orange_pumpkin);
  }
  .menu__el {
    position: relative;
    padding: 20px;
    list-style: none;
    transition: all 0.3s ease;
  }
  .menu__el a {
    color: var(--color-Black);
    text-decoration: none;
    transform-origin: center;
  }
  .menu__el--active {
    background-color: var(--color-orange_pumpkin);
  }
  .svg-fruits {
    right: 30px;
    bottom: -20px;
    width: 120px;
  }
  .img--text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img--text__flex {
    padding-left: 50px;
  }
  .container-flex {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .container-hyp {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .border-grid {
    min-height: 250px;
    max-width: 550px;
  }
  .grid--img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left {
    grid-column: 1/2;
    grid-row: 1;
  }
  .right--img {
    grid-column: 2/3;
    grid-row: 1;
  }
  .right {
    grid-column: 2/2;
    grid-row: 2;
  }
  .left--img {
    grid-column: 1/2;
    grid-row: 2;
  }
  .para {
    padding-top: 40px;
  }
  .img__grid {
    width: 80%;
  }
  .pad-text {
    padding-left: 60px;
    padding-bottom: 40px;
  }
  .border-legend {
    justify-content: space-around;
    padding: 20px;
  }
  .pad-no {
    margin-left: 20px;
  }
  .barre {
    display: none;
  }
  .section--uicred {
    padding: 100px 100px;
  }
}
@media (min-width: 1000px) {
  :root {
    --font-big: 52px;
    --font-intermediate: 32px;
    --font-medium: 20px;
    --font-small: 12px;
  }
  .bar {
    margin-top: 32px;
  }
  .titre-image {
    top: 40%;
  }
  body {
    font-size: 18px;
  }
  .menu__el a:hover {
    text-decoration: none;
    border-radius: 2px;
  }
  .svg-fruits {
    bottom: 30px;
    width: 130px;
  }
  .container-hyp {
    justify-items: center;
  }
  .section--uicred {
    padding: 100px 200px;
  }
}/*# sourceMappingURL=app.css.map */