:root {
  --color-white: #FFFFFF;
  --color-Black: #111;
  --color-green_dark: #042940;
  --color-green_turquoise: #005C53;
  --color-green_basic: #9FC131;
  --color-orange_pumpkin: #F25430;
  --color-green_soap: #D6D58E;
  --color-dwttxt: #FFFFFF;
  --color-dwtund: #005C53;
  --font-big: 26px;
  --font-intermediate: 16px;
  --font-medium: 16px;
  --font-small: 9px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "june-expt-variable", sans-serif;
  font-variation-settings: "STYL" 0;
  font-size: var(--font-medium);
  line-height: 1.5;
  color: #444;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding: 64px 32px;
}

p {
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-Black);
  max-width: 800px;
  padding-bottom: 16px;
}

.parag {
  padding-top: 40px;
}

.container-image {
  position: relative;
  display: inline-block;
}

.menu {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: var(--color-white);
}
.menu__liste {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.menu__el {
  position: relative;
  padding: 20px;
  list-style: none;
}
.menu__el a {
  color: var(--color-);
  text-decoration: none;
  transition: all 0.3s ease;
  transform-origin: center;
}
.menu__el a:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-Black);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.menu__el a:hover {
  color: var(--color-white);
  background-color: var(--color-green_turquoise);
  transform: rotate(360deg);
  padding: 6px 4px 2px 4px;
  border-radius: 2px;
  letter-spacing: 1px;
}
.menu__el a:hover:before {
  transform: scaleX(1);
}

.img-soutien {
  width: 100%;
  filter: brightness(0.5);
}

.titre-image {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: var(--font-big);
  text-align: center;
}

/* Footer */
.footer {
  background-color: var(--color-green_soap);
}

.credits a, .credits span, .subnav__el a {
  color: var(--color-white);
}

.credits {
  padding-top: 40px;
}

.credits, .subnav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 25px;
}

.credits a:hover {
  color: var(--color-green_turquoise);
  transition: 0.3s;
}

.subnav {
  margin: 0;
  padding: 25px 0;
  list-style: none;
}

.subnav__el a:hover {
  color: var(--color-green_turquoise);
  transition: 0.3s;
}

.credits span {
  transition: color 1s;
}

/* SVG DWT */
.dwt {
  width: 40px;
  transform: translateY(3px);
}

.dwt__txt {
  fill: var(--color-dwttxt);
  transition: fill 1s;
}

.dwt__und {
  fill: var(--color-dwtund);
}

.test-title {
  position: relative;
}

.barre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 50%; /* Largeur de la barre */
  height: 3px; /* Hauteur de la barre */
  border-radius: 2px;
  background-color: var(--color-orange_pumpkin); /* Couleur de la barre */
}

.wave-section {
  min-height: 100vh;
  width: 100%;
  color: var(--color-green_soap);
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.section-top {
  position: relative;
  background-image: url(../assets/images/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 0;
}

.test-title {
  color: var(--color-Black);
}

.img-interview {
  width: 400px;
  height: 500px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.img--text {
  display: flex;
  justify-content: center;
}
.img--text__flex {
  padding-left: 50px;
  padding-top: 150px;
}

.svg-fruits {
  position: absolute;
  right: 30px;
  bottom: 100px;
  width: 160px;
  margin-left: 0;
  transform: rotate(20deg);
}/*# sourceMappingURL=app.css.map */